.topnav {
  position: relative;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav-centered a {
  float: left;
  color: #f5f5f5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

li {
  display: inline;
}

li a {
  display: inline;
  color: #F5F5F5;
  padding: 8px 16px;
  text-decoration: none;
  font-family: Arial;
}

header {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

h1 {
  color: black;
  margin-left: 20px;
}

p {
  color: black;
  margin-left: 20px;
}

img {
  margin: auto;
}